.body {
    margin: 0;
}

.fexible_area {
    display: flex;
    padding-bottom: 100px;
}

h1 {
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    border-left: 3px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
    padding-left: 10px;
}

#motto {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    text-align: center;
}

.tittle_area {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}

.text_color {
    color: cadetblue;
}

.half_div {
    width: 50%;
    margin-left: 10%;
}

.half_div img {
    width: 60%;
}

.button_design {
    text-decoration: none;
    color: white;
    border-radius: 10%;
    background-color: royalblue;
    padding: 10px 10px;
}

.card {
    width: 100%;
    padding: 16px;
    border-radius: 10%;
    margin: 20px;
    margin-bottom: 100px;
}

.card img {
    width: 150px;
}

.mission {
    background-color: cyan;
}

.vision {
    background-color: darkorange;
}

.goal {
    background-color: greenyellow;
}

footer {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    height: 170px;
}

h4 {
    font-family: 'Lobster', cursive;
    font-size: 35px;
    padding-top: 3%;
}

.picture {
    border-radius: 5%;
}